# Telegram Bot Token
BOT_TOKEN=your_bot_token_here

# MongoDB Connection String (Heroku uchun MongoDB Atlas ishlatish tavsiya qilinadi)
# Masalan: mongodb+srv://username:password@cluster.mongodb.net/database_name
MONGODB_URI=mongodb://127.0.0.1:27017/tg_business_db
